.nav{
    height: 80;
    /* border:1px solid red; */
    /* position: fixed; */
    /* position:absolute; */
    /* left: 0px;
    top: 0px; */
    /* z-index: 1000; */
    position: sticky;
}

.sticky-nav {
    position: sticky;
    top: 0;
  }
.filters{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
    padding: 20px;
    text-align: left;
    color: white;
    background-color: #343a40;
}
.filters > span{
padding-bottom: 20px;
}
.title{
font-size: 35px;
}
.products{
    width: 30%;
    margin: 10px;
}

.cartitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0 20px;
    padding: 15px;
    /* border: 1px solid red; */
}

.cartItemImg{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail{
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}
.text{
    font-weight: 600;
    font-size: 20px;
}


.add{
    width:30%;
}

.search{
    margin: 0 100px;
}


/* Media Queries */
@media (max-width: 771px) {
    .filters {
      width: 40%;
      padding: 10px;
      margin: 5px;
    }
  
    .filters > span {
      font-size: 10px;
    }
  
    .title {
      font-size: 18px;
    }
  
    .productContainer {
      width: 58%;
      padding: 0;
    }
  
    .search {
      display: none !important;
    }
  
    .products {
      width: 100%;
    }
  }