.home{
    display:flex;
    /* border: 1px solid red; */
}
.productContainer{
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid red; */
margin-top: 72px;
}

/* Media Queries */
@media (max-width: 771px) {
    .productContainer {
      width: 58%;
      padding: 0;
    }
  }